@charset "gb2312";
/* CSS Document */

* {
	font-size:9pt;
	border:0;
	margin:0;
	padding:0;
}
body {
	font-family:'微软雅黑';
	margin:0 auto;
	min-width:980px;
}
ul {
	display:block;
	margin:0;
	padding:0;
	list-style:none;
}
li {
	display:block;
	margin:0;
	padding:0;
	list-style: none;
}
img {
	border:0;
}
dl, dt, dd, span {
	margin:0;
	padding:0;
}
a, a:focus {
	text-decoration:none;
	color:#000;
	outline:none;
blr:expression(this.onFocus=this.blur());
}
a:hover {
	color:#00a4ac;
	text-decoration:none;
}
table {
	border-collapse:collapse;
	border-spacing: 0;
}
cite {
	font-style:normal;
}
h2 {
	font-weight:normal;
}
