@charset "utf-8";
/* CSS Document */
.place {	height:40px;	background:url(../images/righttop.gif) repeat-x;}
.place span {	line-height:40px;	font-weight:bold;	float:left;	margin-left:12px;}
.placeul li {	float:left;	line-height:40px;	padding-left:7px;	padding-right:12px;	background:url(../images/rlist.gif) no-repeat right;}
.placeul li:last-child {	background:none;}
.rightinfo {	padding:8px;}
.tools {	clear:both;	height:35px;	margin-bottom:8px;}
.toolbar {	float:left;}
.toolbar li {	background:url(../images/toolbg.gif) repeat-x;	line-height:33px;	height:33px;	border:solid 1px #d3dbde;	float:left;	padding-right:10px;	
    margin-right:5px;	border-radius: 3px;	behavior:url(js/pie.htc);	cursor:pointer;}
.toolbar li span {	float:left;	margin-left:10px;	margin-right:5px;	margin-top:5px;}
.toolbar1 {	float:right;}
.toolbar1 li {	background:url(../images/toolbg.gif) repeat-x;	line-height:33px;	height:33px;	border:solid 1px #d3dbde;	float:left;	padding-right:10px;
	margin-left:5px;	border-radius: 3px;	behavior:url(js/pie.htc);}
.toolbar1 li span {	float:left;	margin-left:10px;	margin-right:5px;	margin-top:5px;}
.tablelist {	border:solid 1px #cbcbcb;	width:100%;	clear:both;}
.tablelist th {	background:url(../images/th.gif) repeat-x;height:34px;line-height:34px;border-bottom:solid 1px #b6cad2;text-indent:11px;text-align:left;}
.tablelist td {	line-height:35px;	text-indent:11px;	border-right: dotted 1px #c7c7c7;}
.tablelink {	color:#056dae;}
.tablelist tbody tr.odd{	background:#f5f8fa;}
.tablelist tbody tr:hover {	background:#e5ebee;}
.sort {	padding-left:3px;}

/* form表单设置*/
.formbody{padding:10px 18px;}
.formtitle{border-bottom:solid 1px #d0dee5; line-height:35px; position:relative; height:35px; margin-bottom:28px;}
.formtitle span{font-weight:bold;font-size:14px; border-bottom:solid 3px #66c9f3;float:left; position:absolute; z-index:100; bottom:-1px; padding:0 3px; height:30px;      line-height:30px;}
.forminfo{padding-left:23px;}
.forminfo li{margin-bottom:13px; clear:both;}
.forminfo li label{width:86px;line-height:34px; display:block; float:left;}
.forminfo li i{color:#7f7f7f; padding-left:20px; font-style:normal;}
.forminfo li cite{display:block; padding-top:10px;}
.dfinput{width:345px; height:32px; line-height:32px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; 
     border-bottom:solid 1px #ced9df; background:url(../images/inputbg.gif) repeat-x; text-indent:10px;}
.textinput{border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; 
     background:url(../images/inputbg.gif) repeat-x; padding:10px; width:504px; height:135px; line-height:20px; overflow:hidden;}
.btn{width:137px;height:35px; background:url(../images/btnbg.png) no-repeat; font-size:14px;font-weight:bold;color:#fff; cursor:pointer;}

/*tip*/
.tip{width:485px; height:260px; position:absolute;top:18%; left:30%;background:#fcfdfd;box-shadow:1px 8px 10px 1px #9b9b9b;border-radius:1px;behavior:url(js/pie.htc);      display:none; z-index:111111;}
.tiptop{height:40px; line-height:40px; background:url(../images/tcbg.gif)  repeat-x; cursor:pointer;}
.tiptop span{font-size:14px; font-weight:bold; color:#fff;float:left; text-indent:20px;}
.tiptop a{display:block; background:url(../images/close.png) no-repeat; width:22px; height:22px;float:right;margin-right:7px; margin-top:10px; cursor:pointer;}
.tiptop a:hover{background:url(../images/close1.png) no-repeat;}
.tipinfo{padding-top:30px;margin-left:65px; height:95px;}
.tipinfo span{width:95px; height:95px;float:left;}
.tipright{float:left;padding-top:15px; padding-left:10px;}
.tipright p{font-size:14px; font-weight:bold; line-height:35px;}
.tipright cite{color:#858686;}
.tipbtn{margin-top:25px; margin-left:125px;}
.sure ,.cancel{width:96px; height:35px; line-height:35px; color:#fff; background:url(../images/btnbg1.png) repeat-x; font-size:14px; font-weight:bold;
     border-radius: 3px; cursor:pointer;}
.cancel{background:url(../images/btnbg2.png) repeat-x;color:#000;font-weight:normal;}


.imglist{clear:both; overflow:hidden; margin-bottom:20px; margin-left:5px;}
.imglist li{width:188px; border:solid 1px #fff;height:199px;float:left; margin-right:8px; margin-bottom:10px; cursor:pointer;}
.imglist li:hover{border:solid 1px #d7e4ea;}
.imglist li span{width:168px; height:126px; margin:8px; display:block; text-align:center}
.imglist li h2{text-align:center; line-height:25px;}
.imglist li p{text-align:center; line-height:17px; background:url(../images/line1.png) center center no-repeat;}
.imglist li p a{color:#1f7cb6;}
.imglist li p a:hover{color:#F60;}

